@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
body {
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}
.body-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}
body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
.header-logo a {
    text-decoration: none;
    color: #0d0d25;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 23px;
}
.header-logo a span {
    color: #ff8243;
}
a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.uil {
    color: #ff8243;
}
.fab {
    color: #ff8243;
}
.rasa-text {
    color: #ff8243; /* Warna teks menjadi oranye */
    font-weight: bold; /* Membuat teks menjadi tebal */
}
/* ************************** */
.sec-wp {
    position: relative;
    margin-bottom: 50px;
    z-index: 4;
}
.profile-dropdown {
    position: relative;
    display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0d0d25;
    font-family: "Playfair Display", serif;
    font-weight: 900;
}
p {
    font-size: 16px;
    line-height: 30px;
}

/* ******************** */
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.sec-sub-title {
    text-transform: uppercase;
    display: inline-block;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
    padding: 3px 40px;
    border-radius: 60px;
    color: #ff8243;
    font-size: 14px;
}
.h2-title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}
.about_us h2 {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}
.h2-title span,
.h3-title span,
.h4-title span,
.h5-title span,
.sub-title span {
    display: block;
}

/* ****** scrollbar design ******** */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #bfbfbf;
}
::-webkit-scrollbar-thumb {
    background: #ff8243;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #f16620;
}

/* **************** */
.repeat-img {
    background-size: contain;
    background-repeat: repeat;
}
.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-item {
    display: flex;
    align-items: start;
    gap: 10px;
}
.info-item i {
    font-size: 20px;
    color: #ff8243;
}
.info-item p {
    margin: 0;
    font-size: 16px;
    color: #000;
    text-align: left; /* Membuat teks paragraf rata kiri */
}
.book-table {
    margin-top: 20px;
    overflow: hidden;
}
.book-table-shape img {
    position: absolute;
    right: 73%;
    width: 540px;
}
.book-table-shape.book-table-shape2 img {
    left: 74%;
    transform: scale(-1, 1);
}
.back-img {
    background-position: center;
    background-size: cover;
}

/* ************************ */
.social-icon {
    margin: 15px 0px 10px;
}
.social-icon ul li {
    display: inline-block;
    margin: 0 6px;
}
.social-icon ul li:last-child {
    margin-right: 0;
}
.social-icon ul li:first-child {
    margin-left: 0;
}
.social-icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    color: #0d0d25;
    font-size: 19px;
}
.social-icon ul li a:hover {
    background: #ff8243;
}
.social-icon ul li a:hover i {
    color: #ffffff !important;
}

/* ************************ */
.newsletter-box {
    padding: 60px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.contact-icons a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-icons a:hover {
    color: #4caf50;
}
.newsletter-box-text {
    padding: 0 60px;
    color: #ffffff;
}
.newsletter-box-text .h2-title {
    color: #ffffff;
    font-size: 40px;
}
.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f8f9fa;
    opacity: 0.96;
}
.dark-overlay {
    background: #0d0d25;
    opacity: 0.5;
}

/* ***************** footer ****************** */
.top-footer,
.bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-info .social-icon {
    margin-top: 20px;
}
.footer-flex-box {
    display: flex;
    margin: 0 -10px;
}
.footer-flex-box > div {
    flex: 1;
    padding: 0 10px;
}
.footer-flex-box .h3-title {
    text-transform: capitalize;
    margin-bottom: 23px;
}
.footer-menu {
    margin-left: 10em;
}
.footer-menu ul li a {
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize;
}
.footer-menu ul li a:hover,
.footer-menu ul li .footer-active-menu {
    color: #ff8243;
}
.footer-menu ul li {
    margin-bottom: 8px;
}
.footer-table-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
}
.uil-clocl {
    font-size: 17px;
}
.copyright-text {
    padding: 20px 0;
}
.copyright-text p {
    margin: 0;
}
.name {
    color: #ff8243;
    font-weight: bold;
}
.scrolltop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #ff8243;
    font-size: 26px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    border: none;
}
.scrolltop:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}

/* **************** responsiveness ***************** */
@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p,
    body,
    button,
    input {
        font-size: 18px;
        line-height: 32px;
    }
}
@media (max-width: 1199px) {
    .newsletter-box-text {
        padding: 0;
    }
    .footer-flex-box > div {
        padding: 0 10px;
    }
}
@media (max-width: 991px) {
    .book-table {
        overflow: hidden;
    }
    .newsletter-box {
        padding: 40px;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-flex-box {
        display: block;
        margin: 0;
    }
    .footer-flex-box > div {
        padding: 0;
        margin-bottom: 30px;
    }
    .footer-flex-box > div:last-child {
        margin: 0;
    }
    .scrolltop {
        bottom: 130px;
    }
    .footer-menu ul {
        max-width: 300px;
    }
    body {
        height: auto !important;
    }
    .footer-menu {
        margin-left: 0em;
    }
}
@media (max-width: 767px) {
    .contact-icons {
        gap: 15px;
    }
    .contact-icons a {
        font-size: 20px; /* Ukuran ikon lebih kecil */
    }
}
@media (max-width: 575px) {
    .newsletter-box {
        padding: 15px;
    }
    .contact-info a {
        font-size: 18px;
        line-height: 28px;
    }
    .footer-menu {
        margin-left: 0em;
    }
}
@media (max-width: 480px) {
    .contact-icons a {
        font-size: 18px; /* Ukuran ikon lebih kecil pada layar sangat kecil */
    }
}
@media (max-width: 400px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-menu {
        margin-left: 0em;
    }
}
@media (max-width: 1199px) {
    .newsletter-box-text {
        padding: 0;
    }
    .footer-flex-box > div {
        padding: 0 10px;
    }
}
@media (max-width: 991px) {
    .newsletter-box {
        padding: 40px;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-flex-box {
        display: block;
        margin: 0;
    }
    .footer-flex-box > div {
        padding: 0;
        margin-bottom: 30px;
    }
    .footer-flex-box > div:last-child {
        margin: 0;
    }
    .scrolltop {
        bottom: 130px;
    }
    .footer-menu ul {
        max-width: 300px;
    }
    body {
        height: auto !important;
    }
}
@media (max-width: 575px) {
    .newsletter-box {
        padding: 15px;
    }
    .contact-info a {
        font-size: 18px;
        line-height: 28px;
    }
}
@media (max-width: 400px) {
    .header-logo a {
        font-size: 20px;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* News */
.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.collection .content-news {
    background-color: #1b1f2a;
    border: 0.2rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.7rem;
    border-bottom: 0.4rem solid #ff8243;
    border-top: 0.4rem solid #ff8243;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.collection .content-news:hover {
    transform: translateY(-5px);
}
.content-news img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.text-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.text-content p {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: #ccc;
    line-height: 1.4;
}
.button-container-news {
    margin-top: 15px;
}
.view-all-button-news {
    display: inline-block;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, #ff7e5f, #ff8243);
    border-radius: 8px;
    transition: all 0.3s ease;
}
.view-all-button-news:hover {
    color: #fff;
    background: linear-gradient(90deg, #ff8243, #ff7e5f);
    transform: scale(1.05);
}
