@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url();

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*///////////////////////////////////////////*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('https://marksel.co.id/site/assets/files/1444/333_1000.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox {
    position: relative;
    display: flex;
    align-items: center;
}

.inputbox input {
    padding-right: 30px;
    /* Ruang untuk ikon mata */
}

.inputbox ion-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 -15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #d6a029;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/* Untuk mencegah perubahan background oleh autofill */
input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    /* Warna teks tetap putih */
    transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 480px) {
    .form-box {
        width: 85%;
        padding: 15px;
    }

    h2 {
        font-size: 1.8em;
    }

    .inputbox input {
        height: 45px;
        font-size: 0.9em;
    }

    .inputbox {
        width: 200px;
    }

    button {
        align-items: center;
        height: 35px;
        font-size: 0.9em;
    }
}

.bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}

.copyright-text {
    padding: 20px 0;
}

.copyright-text p {
    margin: 0;
}

.name {
    color: #ff8243;
    font-weight: bold;
}

.logo-container {
    background: rgba(255, 255, 255, 0.8);
    /* Warna putih dengan transparansi */
    backdrop-filter: blur(10px);
    /* Efek blur */
    border-radius: 12px;
    /* Sudut membulat */
    padding: 10px;
    /* Ruang di dalam latar belakang */
}
